# Default ignored files
/../../../../../../../../:new-redux/.idea/shelf/
/../../../../../../../../:new-redux/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../:new-redux/.idea/httpRequests/
